html {
    font-size: 62.5%;
  }

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
  body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 215, 121);
  }

  h1 {
    margin-top: 2rem;
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .container {
    background-image: url("bg.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .box {
    background-color: rgb(244, 244, 244);
    padding: 3rem 3rem;
    margin-top: 2rem;
    width: 70rem;
    line-height: 2.7rem;
  }

  a:hover,
  a:active,
  a:link,
  a:visited {
    color: rgb(222, 53, 180);
  }